<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Harry Potter Character Api</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="container pt-3">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <h2 class="title is-2" class="navbar-item">Get Harry Potter Character Api</h2>
            </div>
            <div class="navbar-menu">
              <a href="../index.html" class="navbar-end button is-light" >Go home</a>
            </div>
        </nav>
            <div class=" is-align-content-center is-align-items-center is-fullheight" id="load">
              <progress class="progress is-small is-primary" max="100">15%</progress> 
            </div>  
            
            <div class="card" id="bodyDiv"></div>
    </section>
    <script>var exports = {};</script>
    <script src="../character-detail.js"></script>
    
    
</body>
</html>